@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS variables for colors */
:root {
    --background-color: #E5E5E5;
    --note-background-color: #F2F2F2;
    --text-color: #333333;
    --icon-filter: invert(16%) sepia(0%) saturate(333%) hue-rotate(225deg) brightness(96%) contrast(87%);
}

.dark {
    --background-color: #191919;
    --note-background-color: #404040;
    --text-color: #E5E5E5;
    --icon-filter: invert(75%) sepia(94%) saturate(1%) hue-rotate(336deg) brightness(102%) contrast(94%);
}

/* Apply the CSS variables */
.bg-background {
    background-color: var(--background-color);
}

.bg-noteBackground {
    background-color: var(--note-background-color);
}

.text-textColor {
    color: var(--text-color);
}

.icon-filter {
    filter: var(--icon-filter);
}

/* Set default fonts */
body {
    font-family: 'Inter', sans-serif;
}

.jakarta-semibold {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
}

.hidden {
    display: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

/* Fixed header */
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--background-color);
    z-index: 1000;
    box-shadow: 0 2px 8px var(--background-color);
}

.header-container {
    max-width: 1169px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
    align-items: center;
}

.content-spacing {
    margin-top: 80px;
    padding-bottom: 49px;
}

/* Custom context menu styles */
.context-menu {
    position: absolute;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1001;
    display: none;
    border-radius: 8px;
}

.context-menu div {
    padding: 8px;
    cursor: pointer;
    border-radius: 6px;
}

.context-menu div:hover {
    background-color: #f0f0f0;
}

/* Note styles */
.note {
    width: 569px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    background-color: var(--note-background-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.25);
    position: relative;
    margin-bottom: 24px;
}

.note-text {
    font-size: 20px;
    color: var(--text-color);
    word-break: break-word;
    white-space: pre-wrap;
}

.note-time {
    font-size: 12px;
    color: var(--text-color);
    position: absolute;
    bottom: 8px;
    right: 8px;
}

/* Modal content styles */
.modal-content {
    width: 569px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    background-color: var(--note-background-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.25);
}

.note-input {
    padding: 8px;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: var(--note-background-color);
    color: var(--text-color);
}

/* Confirmation modal content */
.confirmation-content {
    width: 400px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.25);
}
