@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS variables for colors */
:root {
    --background-color: #E5E5E5;
    --note-background-color: #F2F2F2;
    --text-color: #333333;
    --icon-filter: invert(16%) sepia(0%) saturate(333%) hue-rotate(225deg) brightness(96%) contrast(87%);
    --hover-background-color: #dcdcdc;
    --border-color: #ddd;
    --reply-preview-background: #e0e0e0;
    /* Added variables for tags */
    --tag-background-color: #d9e1f2;
    --tag-text-color: #333333;
    --tag-hover-background-color: #c5d1e8;
    /* Added variable for selected note background */
    --selected-note-background: #a1c4fd; /* Light blue */
}

.dark {
    --background-color: #191919;
    --note-background-color: #404040;
    --text-color: #E5E5E5;
    --icon-filter: invert(75%) sepia(94%) saturate(1%) hue-rotate(336deg) brightness(102%) contrast(94%);
    --hover-background-color: #333333;
    --border-color: #555;
    --reply-preview-background: #333333;
    /* Added variables for tags in dark mode */
    --tag-background-color: #465367;
    --tag-text-color: #E5E5E5;
    --tag-hover-background-color: #4b596c;
    /* Selected note background in dark mode */
    --selected-note-background: #3a4b63; /* Darker blue */
}

/* Apply the CSS variables */
.bg-background {
    background-color: var(--background-color);
}

.bg-noteBackground {
    background-color: var(--note-background-color);
}

.text-textColor {
    color: var(--text-color);
}

.icon-filter {
    filter: var(--icon-filter);
}

/* Disable text selection globally */
body {
    font-family: 'Inter', sans-serif;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Allow text selection in specific elements */
.note-text,
.note-input,
.reply-preview-text,
.reply-preview-in-note span,
.modal-content textarea {
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.jakarta-semibold {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
}

.hidden {
    display: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

/* Fixed header */
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--background-color);
    z-index: 1000;
    box-shadow: 0 2px 8px var(--background-color);
}

.header-container {
    max-width: 1169px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
    align-items: center;
}

.header-container * {
    user-select: none;
}

.content-spacing {
    margin-top: 80px;
    padding-bottom: 49px;
}

/* Custom context menu styles */
.context-menu {
    position: absolute;
    border: 1px solid var(--border-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1001;
    display: none;
    border-radius: 8px;
    background-color: var(--note-background-color);
}

.context-menu div {
    padding: 8px;
    cursor: pointer;
    border-radius: 6px;
    color: var(--text-color);
    user-select: none;
}

.context-menu div:hover {
    background-color: var(--hover-background-color);
}

/* Note styles */
.note {
    width: 569px;
    padding: 16px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    background-color: var(--note-background-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.25);
    margin-bottom: 24px;
}

.note.selected-note {
    background-color: var(--selected-note-background);
}

.note-text {
    font-size: 20px;
    color: var(--text-color);
    word-break: break-word;
    white-space: pre-wrap;
}

.note-tags {
    font-size: 16px;
    color: var(--text-color);
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
}

.note-tag {
    background-color: var(--tag-background-color);
    color: var(--tag-text-color);
    padding: 4px 8px;
    border-radius: 6px;
    margin-right: 4px;
    margin-bottom: 4px;
    font-size: 14px;
    text-decoration: none;
}

.note-tag:hover {
    background-color: var(--tag-hover-background-color);
}

.note-tag:active {
    opacity: 0.8;
}

.note-tag * {
    user-select: none;
}

.note-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.note-buttons {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.note-buttons img {
    /* Removed margin-right */
}

.reply-count {
    font-size: 14px;
    color: var(--text-color);
    /* Removed margin-left */
}

.note-time {
    font-size: 12px;
    color: var(--text-color);
}

/* Modal content styles */
.modal-content {
    width: 569px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    background-color: var(--note-background-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.25);
}

.modal-content * {
    user-select: none;
}

.note-input {
    padding: 8px;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: var(--note-background-color);
    color: var(--text-color);
    user-select: text;
}

/* Note tags input styles */
.note-tags-input-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 10px;
    margin-top: 8px;
    background-color: var(--note-background-color);
}

.note-tags-input {
    flex-grow: 1;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    min-width: 100px;
    user-select: text;
}

.note-tags-input:focus {
    outline: none;
}

/* Styles for tags in the input field */
.tag {
    background-color: var(--tag-background-color);
    color: var(--tag-text-color);
    padding: 4px 8px;
    border-radius: 6px;
    margin-right: 4px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    user-select: none;
}

.tag:hover {
    background-color: var(--tag-hover-background-color);
    cursor: pointer;
}

.tag-text {
    margin-right: 4px;
    font-size: 14px;
}

.tag-remove {
    width: 12px;
    height: 12px;
    cursor: pointer;
}

/* Confirmation modal content */
.confirmation-content {
    width: 400px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    background-color: var(--note-background-color);
    color: var(--text-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.25);
    user-select: none;
}

/* Reply preview styles */
.reply-preview,
.reply-preview-in-note {
    background-color: var(--reply-preview-background);
    color: var(--text-color);
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reply-preview:hover,
.reply-preview-in-note:hover {
    background-color: var(--hover-background-color);
}

.reply-preview-in-note {
    width: calc(100% - 32px);
    margin-bottom: 16px;
    text-decoration: none;
}

.reply-preview-in-note * {
    user-select: none;
}

/* Adjust hover effect for reply previews */
.reply-preview-in-note:hover {
    background-color: var(--hover-background-color);
}

/* Disable text selection on notes when in selection mode */
.disable-text-selection .note {
    user-select: none;
}
