/* Dropdown Menu Background and Border */
.el-dropdown-menu {
  background-color: var(--dropdown-bg-color) !important;
  border: 1px solid var(--el-border-color) !important;
}

/* Dropdown Menu Items Text Color */
.el-dropdown-menu__item {
  color: var(--faded-text-color) !important;
}

/* Dropdown Menu Items Hover Background Color */
.el-dropdown-menu__item:hover {
  background-color: var(--note-bright-color) !important;
}

/* Optional: Adjust Dropdown Menu Item Hover Text Color */
.el-dropdown-menu__item:hover {
  color: var(--text-color) !important;
}

/* Override background color of n-layout-content */
.n-layout-content {
  background-color: var(--bg-color) !important;
}

/* Override background color of n-layout-scroll-container */
.n-layout-scroll-container {
  background-color: var(--bg-color) !important;
}

/* Added content-block class */
.content-block {
  position: relative;
  border-radius: 15px;
  padding: 8px 12px;
  background-color: var(--block-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  margin-bottom: 16px; /* Add margin between blocks if needed */
}

/* Hover effect for space-name and topic-item */
.space-name,
.topic-item {
  display: block;
  width: 100%;
}

.space-name:hover,
.topic-item:hover {
  background-color: var(--note-bright-color);
}

/* Ensure no extra padding interferes */
.spaces-list,
.topics-list {
  padding: 0;
  margin: 0;
}
