/* ./src/styles/global-overrides.css */

/* Dropdown Menu Background and Border */
.el-dropdown-menu {
  background-color: var(--dropdown-bg-color) !important;
  border: 1px solid var(--el-border-color) !important;
}

/* Dropdown Menu Items Text Color */
.el-dropdown-menu__item {
  color: var(--faded-text-color) !important;
}

/* Dropdown Menu Items Hover Background Color */
.el-dropdown-menu__item:hover {
  background-color: var(--note-bright-color) !important;
}

/* Optional: Adjust Dropdown Menu Item Hover Text Color */
.el-dropdown-menu__item:hover {
  color: var(--text-color) !important;
}
